@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inknut Antiqua', serif;
}

body {
    font-family: Arial, sans-serif;
    color: #e0e0e0;
    background-color: #1c1c1c;
    text-align: center;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1c1c1c;
    color: #e0e0e0;
    border-bottom: 1px solid #3c3c3c;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.logo img {
    height: 50px;
    width: auto;
    display: block;
}

header nav a {
    color: #e0e0e0;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

header nav a:hover {
    color: #e24343;
}

main {
    padding: 0px 0px;
}

.band-photo {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 20px;
}

.bio {
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 20px;
}

.bio img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.bio p {
    font-size: 16px;
    line-height: 1.5;
}

footer {
    background-color: #1c1c1c;
    padding: 20px 0;
    border-top: 1px solid #3c3c3c;
}

.socials {
    margin-bottom: 10px;
}

.socials a {
    margin: 0 10px;
}

.socials img {
    width: 24px;
    height: 24px;
}

footer p {
    font-size: 14px;
    color: #a0a0a0;
}
