* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #e0e0e0;
    background-color: #1c1c1c;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1c1c1c;
    color: #e0e0e0;
    border-bottom: 1px solid #3c3c3c;
}

.logo img {
    height: 40px;
    width: auto;
}

header nav a {
    color: #e0e0e0;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

header nav a:hover {
    color: #e24343;
}

.hero {
    background-image: url('/img/releases/image 3.png'); /* Replace with the actual path to your image */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 200px 20px; /* Adjust padding to ensure the whole image is visible */
    color: #ffffff;
}

.hero h1 {
    font-size: 48px;
    color: #ffffff;
}

.releases-section {
    text-align: center;
    padding: 50px 20px;
}

.releases-section h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #e0e0e0;
}

.releases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.release-item {
    text-align: center;
    width: 180px;
}

.release-item img {
    width: 100%;
    border-radius: 5px;
}

.release-item p {
    font-size: 20px;
    margin-top: 10px;
    color: #e0e0e0;
}

.release-item span {
    font-size: 14px;
    color: #cccccc;
}

footer {
    background-color: #1c1c1c;
    padding: 20px 0;
    border-top: 1px solid #3c3c3c;
}

.socials {
    margin-bottom: 10px;
}

.socials a {
    margin: 0 10px;
}

.socials img {
    width: 24px;
    height: 24px;
}

footer p {
    font-size: 14px;
    color: #a0a0a0;
}
